body {
	margin: 0px;
	padding: 0;
	color: #616161;
}

h1,h2,h3 {
	margin-top: 0;
}

h1 {
	font-size: 1.6em;
	font-weight: normal;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1.2em;
	margin-top: 20px;
}

ul {
	
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a img {
	border: none;
}

img.left {
	float: left;
	margin: 0 20px 0 0;
}

img.right {
	float: right;
	margin: 0 0 0 20px;
}

/* Header */
#header {
	padding: 4px 0px;
	height: 75px;
	position: relative;
}

#logo {
	text-align: left;
}

/* Menu */
#menu {
	position: absolute;
	top: 25px;
	right: 15px;
	padding: 0;
	height: 59px;
	overflow: hidden;
}

#menu ul {
	margin: 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu li a {
	display: block;
	float: left;
	height: 42px;
	margin: 0;
	padding: 18px 40px 0 40px;
	text-decoration: none;
	font-size: 1em;
}

#menu li a:hover {
	text-decoration: underline;
}

#globalthemeswitcher {
	position: absolute;
	top: 5px;
	right: 50px;
}

/* Page */
#page {
	padding: 10px 0px;
	background: #FFFFFF;
}

/* Content */
#content {
	width: 70%;
	float: left;
}

.post {
	padding-bottom: 15px;
}

.post h1 {
	font-weight: normal;
}

.title {
	height: 30px;
	margin-left: 10px;
	padding: 8px 0 0 20px;
}

.title a {
	border-bottom: none;
	color: #FFFFFF;
}

.title a:hover {
	border-bottom: 1px dotted #000000;
}

.submenu-title {
	padding: 4px 10px;
}

.submenu-content {
	text-align: center;
}

.byline {
	margin: -60px 20px 20px 20px;
}

.byline a {
	color: #DC8700;
}

.tag {
	padding: 0 15px;
}

.entry {
	padding: 0 20px;
}

.entry p {
	line-height: 200%;
}

.links {
	padding: 4px 0px;
	text-align: right;
	font-weight: bold;
}

.links a {
	border: none;
}

.links a:hover {
	
}

#sidebar {
	float: left;
	width: 25%;
	padding: 0 10px;
	margin-left: -1px;
	overflow: hidden;
}

#sidebar a.ui-state-hover,#sidebar a.ui-state-highlight {
	border: 0 none;
	text-decoration: none;
	font-weight: normal;
}

#sidebar table {
	width: 100%;
}

#sidebar table td {
	vertical-align: top;
}

#sidebar ul {
	padding: 0;
	margin: 0;
}

#sidebar ul li {
	list-style-type: none;
	padding: 1px;
}

/* Footer */
#footer {
	height: 70px;
	margin: 0 auto;
	padding: 0 20px;
	font-size: 14px;
}

#footer p {
	margin: 0;
	padding: 25px 0 0 0;
	text-align: center;
}

#footer a {
	
}

#footer .link {
	float: right;
}

#footer .copyright {
	float: left;
}

.homeText {
	line-height: 175%;
}

.homeMenu {
	width: 200px;
	float: left;
	margin-right: 10px
}

.themeMenu {
	overflow: auto;
	height: 300px;
	width: 200px;
}

.dp-xml {
	width: 1000px;
}

.ui-themeswitcher a.ui-selectonemenu-label-container {
	text-decoration: none !important;
}

.ui-widget {
	font-size: 12px !important;
}
/* ---------------------------------------customizing-------------------------*/
.ui-layout-unit {
	border: none;
	padding: 0em;
	background: white;
	/* background: white; */
}

.ui-layout-unit .ui-layout-unit-content {
	padding: 0em;
	background: none;
}

.ui-layout-unit-footer {
	border: 0px;
	background: red;
}

.centerLayout .ui-layout-unit-header {
	border: 0px;
	background: none;
}

.ui-corner-all { /* -webkit-border-radius: 6px; */
	border-radius: 8px;
}

.ui-toolbar {
	background: none;
	padding: 0.2em;
}

/* -------------------------------Panel---------------------- */
.takion77-acco .ui-accordion .ui-accordion-content {
	padding: 1px;
}

/* tr.ui-widget-content{
	 border: none;
	padding: 0px;
} */

/* .takion77-panelgrid-border .ui-panelgrid tr {
	border: none;
} */


.takion77-panelgrid-border tr {
	border: none;
	padding:0px 4px;
}

.takion77-panelgrid-border td {
	border: none;
	padding:0px 4px;
}

.takion77-panelgrid-border .ui-panelgrid tr {
	border: none;
}

.takion77-panelgrid-border .ui-panelgrid td {
	border: none;
}

.takion77-panelgrid .ui-panelgrid tr {
	border: none;
	padding-right: 2px;
	background: none;
}

.takion77-panelgrid .ui-panelgrid td {
	border: none;
	padding-right: 2px;
	background: none;
}

/* --------------------Tree------------- */
.takion77-tree .ui-tree {
	border: none;
	width: 100%;
}

.takion77-tree .ui-tree .ui-widget-content {
	border: none;
}

.takion77-tree .ui-widget-content {
	border: none;
}

.takion77-tree .ui-tree-container {
	width: 100%;
}

/* .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	background: yellow;
}
.ui-widget-header .ui-state-default {
	background : white;
} */

/* .tabtakion .ui-widget-header .ui-state-active {
	background: white;
}
.tabtakion .ui-widget-header .ui-state-hover {
	background: white;
}
.tabtakion .ui-widget-header .ui-state-focus {
	background: white;
} */
.horizontalTab .ui-widget-header .ui-state-default {
	background: none;
}

/* ----------------------tab-------------------- */
.takion77-tab.ui-widget-content {
	border: none;
}
.takion77-tab .ui-widget-content {
	border: none;
}
.takion77-tab .ui-tabs {
	border: none;
	background: none;
	padding: 0px;
}

.takion77-tab .ui-tabs .ui-tabs-nav li {
	/* 	background: none; */
	border: none;
	top: 0px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

/* .ui-tabs.ui-widget-content {
	background: none;
} */

/* .ui-tabs-panel {
	background: red;
} */

.takion77-tab .ui-tabs.ui-tabs-top >.ui-tabs-nav {
	padding: 0px
}
/* .ui-tabs-nav{
	background: white;
	border-bottom: 1px grey dotted;
} */
.takion77-tab .ui-tabs-panel.ui-widget-content {
	/* background: rgb(137, 139, 139); */
	background: none;
}

li.ui-tabs-selected a {
	background: white;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
/* ---------------------------------dtatTable----------------- */
.takion77-table .ui-datatable .ui-datatable-header,.ui-datatable-footer {
	background-color: rgb(137, 139, 139);
	background: white;
	border-color: white;
	padding: 0px;
	border: none;
}

/* .ui-datatable-header{
	background-color: rgb(137, 139, 139);
	background: white;
	border-color: white;
	height: 20px;
	padding: 0px;
	border: none;
} */
.takion77-table .ui-datatable-odd {
	background-color: #F2F5F9;
	background-repeat: repeat;
	/* background: none repeat scroll 0 0 #F2F5F9; */
}



.contextBar.ui-widget-header {
	height: 1.2em;
	border: none;
	background: white;
	padding: 0.0em;
}

/* .contextButton .ui-icon{
	backgroud :url('/img/primefaces/add.png')
} */
.contextButton .ui-button {
	border: none;
	height: 1em;
	width: 20px;
	text-align: right;
	background: none;
	float: right;
}

.contextButton .ui-button.ui-state-focus,.ui-button.ui-state-active {
	border: none;
	box-shadow: none;
	background: none;
}

.portDialog .ui-widget-footer {
	border: none;
}

.ui-wizard-step-titles {
	height: 20px;
}
/* .ui-helper-reset{
	line-height: 1;
} */
.ui-wizard-step-title {
	height: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0.6em;
	padding-right: 0.6em;
	font-size: 1em;
}

.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active {
	color: #cc9900;
	font-weight: bolder;
}

.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited {
	color: #cc9900;
	font-weight: bolder;
}
/* ****************************************** */
/* .form-label {
	color: blue; 
	font-weight:bold;
	float:right;
} */

/* form.takionLabel {
	color: blue ; 
	font-weight:bold ;
	float:right ;
} */

/* .takionLabel .ui-outputlabel{
	color: blue ; 
	font-weight:bold ;
	float:right ;
} */

.takionLabel {
	color: blue ; 
	font-weight:bold ;
	float:right ;
}

.takionLabelFor {
	width :150px;
}

.dynamicTableId{
	
}

/* .ui-outputlabel.takionLabel {
	color: blue ; 
	font-weight:bold ;
	float:right ;
}
.ui-outputlabel .takionLabel {
	color: blue ; 
	font-weight:bold ;
	float:right ;
} */

.ui-layout-resizer {
	color : grey;
}
.takionProdChart {
	background-image: url("./../../img/msginfo.png");
	font-style: italic;
	font-weight: bolder;
}
.prodChart {
	background-image: url("./../../img/path.jpg");
	font-style: italic;
	font-weight: bolder;
}
.dateTimeField input{
	width :80px;
	margin: 0 auto;
}
.ui-layout-pane-north .ui-layout-unit-content {
overflow: auto;
}

.ui-layout-pane-north-outer .ui-layout-unit-content {
	overflow: visible;
}

.ui-layout-pane-center-inner .ui-layout-unit-content {
overflow: hidden;
}

.ui-layout-pane-west .ui-layout-unit-content {
overflow: auto;
}


.ui-radiobutton-takion .ui-icon{
	border: none;
	height:16px;
	width:16px;
}
.ui-radiobutton-takion .ui-radiobutton-icon{
	/* background: url("./../../img/eclipse/step_done.gif") no-repeat; */
	background: url("./../../img/famsilk/accept.png") no-repeat;
	border: none;
	height:16px;
	width:16px;
}

/* .ui-radiobutton-takion .ui-widget-content{
	background: none;
	border: none;
} */

.ui-radiobutton-takion .ui-radiobutton-box{
	background :none;
	border: none;
}

/* ********************************Menu Image**************** */

.ui-menu .ui-menu-parent .ui-menu-child {
	width : 20em
}
.ui-menuitem-icon.img_home_nav {
	background: url("./../../img/eclipse/home_nav.gif") no-repeat;
	height:16px;
	width:16px;
}
.ui-menuitem-icon.img_markget_variable {
	background: url("./../../img/famsilk/chart_curve.png") no-repeat;
	height:16px;
	width:16px;
}
.ui-menuitem-icon.img_help {
	background: url("./../../img/eclipse/help.gif") no-repeat;
	height:16px;
	width:16px;
}

.ui-menuitem-icon.img_whatIf {
	background: url("./../../img/eclipse/debugts_obj.gif") no-repeat;
	height:16px;
	width:16px;
}

.ui-menuitem-icon.img_chart_org {
	background: url("./../../img/famsilk/chart_organisation.png") no-repeat;
	height:16px;
	width:16px;
}

.ui-menuitem-icon.img_limit {
	background: url("./../../img/famsilk/controller.png") no-repeat;
	height:16px;
	width:16px;
}

.ui-menuitem-icon.img_setting {
	background: url("./../../img/famsilk/cog.png") no-repeat;
	height:16px;
	width:16px;
}

.ui-notificationbar{
	padding : 0 px;
}

.takion77-noti .ui-widget-header {
	border:none;
	background-color: green;
}
.takion77-noti .ui-panel-titlebar {
	border:none;
	background-color: rgb(254, 238, 189);
}

.ui-banner-path {
	background: url("./../../img/paht.jpg") ;
}

.takion77-menu .ui-state-hover {
	background-color: blue;
	background-image :none;
}

/* .takion77-menu .ui-widget-content .ui-state-hover {
	background-color: red;
	background-image :none;
	background-color :grey;
	border: grey;
} */

/* .takion77-menu .ui-state-hover a, .ui-state-hover a:hover { ****** latter one is not attached to .takion77-menu*/
.takion77-menu .ui-state-hover a {
	color: YellowGreen;
	text-decoration: none;
}

.takion77-menu .ui-state-hover a:hover {
	color: Yellow;
	text-decoration: none;
}

/* .takion77-menu .ui-menu-list{
	background-color :Yellow;
	background-image :none;
} */

.takion77-menu .ui-menuitem-text {
	color :Lime;
}

.takion77-menu .ui-menuitem-active {
	background-color :grey;
	border: grey;
}

.takion77-menu .ui-menuitem-link {
	/* background-color :yellow; */
	background:none;
	
}

.takion77-menu .ui-menuitem-parent {
	background-color :orange;
}

.takion77-menu .ui-menuitem-child {
	background-color :orange;
}

.takion77-row .ui-datatable .ui-datatable-data tr{
	height : 50px;
}
/* .takion77-menu .ui-widget-content {
	background-color:white;
	background-color :grey;
	border: grey;
} */

.takion77-whiteWidget .ui-widget-content{
	background-color:white;
}

.takion77-treeContainer .ui-tree .ui-tree-container{
	padding: 0px;
	height : 100%;
}
.takion77-treeContainer .ui-tree-container{
	padding: 0px;
	height : 100%;
	border-radius: 8px;
	background-color: white;
}
.takion77-alignTop{
	vertical-align: top;
}

